@page "/adminManager"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<Sidebar/>
<body>
    <!-- Основное содержимое -->
    <div class="main-content">
        <div class="welcome-section">
            <h1>Добро пожаловать, Администратор!</h1>
            <p>Это панель управления ИС "Управление студией йоги". Здесь вы можете управлять пользователями, инструкторами, расписанием и просматривать отчеты.</p>
            <p>Выберите нужный раздел в меню слева для работы с системой.</p>
        </div>
    </div>
</body>

@code {

}